.o_planning_calendar_container {

    #calendar_employee {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .fc-day-grid-event {
        margin: 5px 2px 0;
        padding: 5px 10px;
    }

    .fc-day-grid-event .fc-content {
        white-space: normal;
    }  

}

.o_planning_calendar_open_shifts {

    .close {
        outline: none !important;
    }

}