.o_web_studio_client_action .o_ace_view_editor {
    float: right;
    border-right: 3px solid $o-web-studio-bg-dark;
    background: $o-web-studio-bg-medium;
    color: white;
    height: 100%;
    position: relative;
    top: 0;
    overflow: hidden;

    #ace-view-id, .ace-monokai {
        background: $o-web-studio-bg-darker;
    }
    .ace_gutter, .ace-monokai .ace_marker-layer .ace_active-line {
        background: $o-web-studio-bg-dark;
    }

    .o_ace_view_editor_title {
        .btn {
            @include o-web-studio-btn;
        }
        .o_include_option {
            display: none;
        }
    }
}

.o_in_studio_xml_editor {
    > nav {
        position: relative;
        user-select: none;

        &:after {
            content: '';
            z-index: 1;
            background-color: rgba($o-web-studio-bg-darker, 0.6);
            user-select: none;
            @include o-position-absolute(0,0,0,0);
        }
    }
    .select2-choice, .select2-drop-active {
        border-width: 0;
        border-radius: 0;
        .select2-chosen > div {
            padding: 0!important;
        }
    }
    .select2-drop {
        padding: $grid-gutter-width/3;
        background-color: $o-web-studio-bg-light;
        .select2-search {
            margin: 0 0 $grid-gutter-width/4;
            padding-left: 0;
            input {
                padding-left: $grid-gutter-width/4;
                border-width: 0;
            }
        }
        .select2-results {
            padding: 4px;
            background: white;
            .select2-highlighted {
                color: inherit;
                font-weight: bold;
                border-left: 2px solid $o-brand-primary;
                background-color: $o-web-studio-bg-lighter;
            }
            .select2-no-results {
                font-style: italic;
                background: none;
            }
        }
    }
}
