.pos .scale-screen .read-weight{
    text-align: center;
    font-size: 32px;
    background: rgb(110,200,155);
    color: white;
    border-radius: 3px;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
}

.terminal_ticket {
    line-height: 100%;
    font-size: 10px;
}
.ticket_cut {
    height: 1px;
    border: none;
    background: lightgray;
}
