
.o_dial_hidden_button {
    visibility: hidden;

    &.fa-stack {
        height: 1em;
    }
}

.o_dial_stack_icon {
    width: 20%;
    left: 13px;
    font-size: 10px;
}

.o_kanban_record:hover .o_dial_hidden_button {
    visibility: visible;
}
