.o_mobile_sticky {
    @include o-position-sticky();
    z-index: 2;
}

.o_barcode_mobile {
    -webkit-mask: url('/web_mobile/static/src/img/barcode.svg') center/contain no-repeat;
    mask: url('/web_mobile/static/src/img/barcode.svg') center/contain no-repeat;
    background-color: $o-enterprise-primary-color;
    width: 26px;
    margin-left: 10px;
    border: 0;
}
