<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Odoo Project Timesheet</title>
    <!--Place assets here-->
    <!-- OpenERP minimal lib -->
    <script type="text/javascript" src="web/static/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="web/static/lib/underscore.string/lib/underscore.string.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="web/static/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="web/static/lib/jquery/jquery.browser.js"></script>
    <script type="text/javascript" src="web/static/lib/jquery.ba-bbq/jquery.ba-bbq.js"></script>
    <script type="text/javascript" src="web/static/lib/moment/moment.js"></script>

    <!-- Qweb2 lib -->
    <script type="text/javascript" src="web/static/lib/qweb/qweb2.js"></script>
    <!-- Odoo JS Framework -->
    <script type="text/javascript" src="web/static/src/js/boot.js"></script>
    <script type="text/javascript" src="web/static/lib/py.js/lib/py.js"></script>
    <script type="text/javascript" src="web/static/lib/py.js/lib/py_extras.js"></script>

    <script type="text/javascript" src="web/static/src/js/libs/content-disposition.js"></script>
    <script type="text/javascript" src="web/static/src/js/libs/download.js"></script>

    <script type="text/javascript" src="web/static/src/js/core/abstract_service.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/ajax.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/bus.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/class.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/concurrency.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/context.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/local_storage.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/mixins.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/py_utils.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/qweb.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/ram_storage.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/registry.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/rpc.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/service_mixins.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/session.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/time.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/translation.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/utils.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/widget.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/service_mixins.js"></script>
    <script type="text/javascript" src="web/static/src/js/core/ram_storage.js"></script>

    <script type="text/javascript" src="web/static/src/js/services/config.js"></script>
    <script type="text/javascript" src="web/static/src/js/services/ajax_service.js"></script>
    <script type="text/javascript" src="web/static/src/js/services/config.js"></script>
    <script type="text/javascript" src="web/static/src/js/services/core.js"></script>
    <script type="text/javascript" src="web/static/src/js/services/session.js"></script>
    <!---->
    <link href="web/static/lib/fontawesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="web/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="web/static/lib/bootstrap/js/modal.js"></script>

    <script src="project_timesheet_synchro/static/lib/select2/select2.js"></script>
    <link href="project_timesheet_synchro/static/lib/select2/select2.css" rel="stylesheet"/>
    <script type="text/javascript" src="project_timesheet_synchro/static/src/js/project_timesheet.js"></script>
    <script type="text/javascript" src="project_timesheet_synchro/static/src/js/session.js"></script>

    <script type="text/javascript" src="project_timesheet_synchro/static/lib/material-design/js/material.min.js"></script>

    <link href="project_timesheet_synchro/static/src/css/project_timesheet.css" rel="stylesheet"/>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" id="loading-script" src="project_timesheet_synchro/static/src/js/init.js"></script>
  </head>
  <body class="o_project_timesheet">
  </body>
</html>