
.o_viewer_content {

    .o_documents_split_pdf_area {
        background-color: #3a3a3a;
        padding: 6px;
        margin: 5px;
        margin-left: 40%;

        .o_documents_split_btn {
            vertical-align: baseline;
        }

        .o_documents_page_number_input {
            width: 9%;
            color: black;
            display: inline;
        }

        .o_documents_remainder_input {
            vertical-align: middle;
        }
    }
}

@include media-breakpoint-down(sm) {
    .o_viewer_content .o_documents_split_pdf_area {
        display: none;
    }
}
