.o_account_reports_saved_summary {
    padding-bottom: 45px;
    padding-top: 45px;
}

.o_account_reports_header {
    padding-top: 45px;
}

.o_account_reports_page {
    color: black !important;
    padding-bottom: 0!important;
    .o_account_reports_table {
        overflow-x: initial;
    }
}

.o_account_reports_level0 {
    color: black !important;
}
